.bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 80vh;
}

.bannerBoasMarcador{
    background-color: var(--brand-primary-400);
    border: solid 3px var(--brand-primary-700);
    color: var(--brand-primary-700);
    border-radius: var(--l);
    padding: var(--p-1);
    font-family: var(--font-host-grotesk);
}

.bannerFrase{
    width: 50vw;
}

.destaqueBannerFrase{
    background-color: var(--color-accent-primary-600);
    font-style: italic;
    font-weight: 600;
}

.bannerContenth1{
    font-size: var(--headline-1);
    text-align: center;
}

.bannerContenth2{
    font-size: var(--headline-2);
    text-align: center;
}

.bannerContenth5{
    font-size: var(--headline-5);
    text-align: center;
}

.bannerContentSpan{
    font-family: var(--font-instrument-serif);
    font-style: italic;
}

/* vantagens - inicio */
