.bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: auto;
}

.bannerBoasMarcador{
    background-color: var(--brand-primary-400);
    border: solid 3px var(--brand-primary-700);
    color: var(--brand-primary-700);
    border-radius: var(--l);
    padding: var(--p-1);
    font-family: var(--font-host-grotesk);
    text-align: center;
}

.bannerFrase{
    width: 50vw;
}

.destaqueBannerFrase{
    background-color: var(--color-accent-primary-600);
    font-style: italic;
    font-weight: 600;
}

.bannerContenth1{
    text-align: center;
}

.bannerContenth2{
    font-size: var(--text-headline-2);
    text-align: center;
}

.bannerContenth5{
    font-size: var(--text-headline-5);
    text-align: center;
}

.bannerContentSpan{
    font-family: var(--font-instrument-serif);
    font-style: italic;
}

/* vantagens - inicio */

/* carrossel */

.carouselItem{
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
}
.carouselItem img{
    width: 55vw;
    height: 35vh;
}
  .carouselItemTexto{
    display: block;   
}

.bannerBlogContent{
    background-color: var(--brand-primary-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: auto;
    gap: 1rem;
    padding: var(--p-3);
}

.cartaoDestaqueBlog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: auto;
    min-width: 25vw;
    border-radius: 1rem;
    padding: 1rem;
    
    background-color: var(--color-background);
    color: var(--brand-primary-700);
}

.cartaoDestaqueBlog small{
    color: var(--brand-primary-700);
}

.linha{
    background-color: var(--brand-primary-700);
    height: 3px;
    width: 100%;
}

.decricaoBlog{
    min-width: 20vw;
    padding: 1rem 0 1rem 0;
}

@media (max-width: 768px) {

    .carouselItem{
    flex-direction: column;
    gap: 0;
}
  .carouselItemTexto{
    display: none;
}


}