.headerBar {
  padding: 0 var(--p-2) 0 var(--p-2);
  background-color: var(--background);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  font-family: var(--font-bricolage-grotesk);
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--xs);

}

.navUl ul {
  width: 100%;
  display: flex;
  gap: 2vw;
  list-style: none;
  padding: 0;
  background-color: var(--background);
}

.navButton {
  padding: var(--p-1);
  transition: all 0.5s;
}

.navButton:hover {
  background-color: var(--brand-primary-600);
}

.navLogin {
  padding: var(--p-1);
  transition: all 0.5s;
  background-color: var(--secondary);
  border-radius: var(--l);
  font-family: var(--font-instrument-serif);
  font-weight: 700;
  font-size: 1rem;
  width: 5rem;
}

.navBarMobile {
  display: none;
  margin: 1rem;
}

.navBarMobileContent {
  display: none;
}

@media (max-width: 870px) {
  .navUl {
    display: none;
  }

  .navBarMobileContent {
    display: flex;
  }
}