.headerBar {
  padding: 0 var(--p-2) 0 var(--p-2);
}

.navBar {
  font-family: var(--font-bricolage-grotesk);
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-2);
  border-radius: var(--xs);
  position: fixed;
  z-index: 1000;
}

.navUl ul {
  display: flex;
  gap: 2vw;
  list-style: none;
  padding: 0;
}

.navButton {
  padding: var(--p-1);
  transition: all 0.5s;
}

.navButton:hover {
  background-color: var(--brand-primary-600);
}

.navLogin {
  padding: var(--p-1);
  transition: all 0.5s;
  background-color: var(--secondary);
  border-radius: var(--l);
  font-family: var(--font-instrument-serif);
  font-weight: 700;
  font-size: 1rem;
  width: 5rem;
}

.navBarMobile {
  display: none;
  margin: 1rem;
}

.navBarMobileContent {
  display: none;
}

@media (max-width: 870px) {
  .navUl {
    display: none;
  }

  .navBarMobileContent {
    display: flex;
      background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}